# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# React build
frontend/node_modules/
frontend/dist/
frontend/.env
